.wba-global-nav
  a(href= rootPath)
    .logo
      img(src=`${rootPath}img/common/logo.png`, alt="WBA Future Leaders")
  nav
    ul.menu-list.hover-effect
      li.menu-item
        a.elm-a(href=`${rootPath}about/`)
          | About
      li.menu-item
        a.elm-a(href=`${rootPath}member/`)
          | Members
      li.menu-item
        a.elm-a(href=`${rootPath}publication/`)
          | Publications
      li.menu-item
        a.elm-a(href=`${rootPath}event/`)
          | Events
      li.menu-item
        a.elm-a(href=`${rootPath}sponsor/`)
          | Sponsors
      li.menu-item
        a.elm-a(href=`${rootPath}contact/`)
          | Contact
