.wba-global-nav
  a(href= rootPath)
    .logo
      img(src=`${rootPath}img/common/logo.png`, alt="WBA Future Leaders")
  nav
    ul.menu-list.hover-effect
      li.menu-item
        a.elm-a(href=`${rootPath}about/`)
          | About
      li.menu-item
        a.elm-a(href=`${rootPath}member/`)
          | Members
      li.menu-item
        a.elm-a(href=`${rootPath}publication/`)
          | Publications
      li.menu-item
        a.elm-a(href=`${rootPath}event/`)
          | Events
      li.menu-item
        a.elm-a(href=`${rootPath}sponsor/`)
          | Sponsors
      li.menu-item
        a.elm-a(href="https://docs.google.com/forms/d/1EKz9bmU8ipH0oZObiJwsIBgh4l5ftQWBthXfKfAH1hY/viewform")
          | Contact

  include /_partial/share-list
