.wba-global-nav
  .logo
    img(src=`${rootPath}img/common/logo.png`, alt="WBA Future Leaders")
  nav
    ul.menu-list
      li.menu-item
        a.elm-a(href=`${rootPath}`)
          | Home
      li.menu-item
        a.elm-a(href=`${rootPath}about/`)
          | About
      li.menu-item
        a.elm-a(href=`${rootPath}member/`)
          | Members
      li.menu-item
        a.elm-a(href=`${rootPath}event/`)
          | Events
      li.menu-item
        a.elm-a(href=`${rootPath}sponsor/`)
          | Sponsors
      li.menu-item
        a.elm-a(href=`${rootPath}contact/`)
          | Contact
