extends /_layout/_default-layout

block config-block

prepend config-block
  -
    let eventArr = lodash.values(events).reduce((p, c) => p.concat(c), []);
    let event = eventArr.filter(m => m.id === meta.id)[0]

    let pageName = meta.name || event.name

append config-block
  - pageId = 'event-detail'
  - rootPath = '../../'
  - dataPath = `${rootPath}data/event/${event.id}/`
  - imgPath = `${rootPath}img/event/${event.id}/`
  - title = `${pageName} | ${settings.site_name}`
  - ogp_image_url = meta.image ? `${settings.url}img/event/${meta.image}` : settings.ogp_image_url
  - url = `${settings.url}event/${meta.id}/`
  -
    breadcrumbArr = [
      {
        href: `${rootPath}event/`,
        name: 'Events',
      },
      {
        name: pageName,
      },
    ];

block content-block
  main.main
    .front-block
      .row(data-col= meta.gallery ? '2' : '1')
        .body.hover-effect
          +template-option
          != lodash.template(unescape(body), templateOption)(params)

        if meta.gallery
          - const n = parseInt(meta.gallery)
          .gallery
            - for(let i = 0; i < n; i++) {
              .image
                img.elm-img(src=`${rootPath}img/event/gallery/${meta.id}/${i + 1}.jpg`)
            - }
