extends /_layout/_default-layout

prepend config-block
  - pageName = 'Events'

append config-block
  - pageId = 'event'
  - rootPath = '../'
  - url = `${settings.url}event/`

block content-block
  main
    .wba-category-nav.hover-effect
      nav
        .category-list
          .category-item
            a.elm-a(href="#All")
              | All
          .category-item
            a.elm-a(href="#カジュアルトーク")
              | カジュアルトーク
          .category-item
            a.elm-a(href="#データ解析くらぶ")
              | データ解析くらぶ
          .category-item
            a.elm-a(href="#ハッカソン")
              | ハッカソン
          .category-item
            a.elm-a(href="#勉強会")
              | 勉強会
          .category-item
            a.elm-a(href="#女子会")
              | 女子会
          .category-item
            a.elm-a(href="#懇親会")
              | 懇親会

    .event-list
      each event in events.sheet
        .event-item(data-date= event.date, data-type= event.type)
          a(href=`${rootPath}event/${event.link}`)
            .event
              - image = event.image || 'default.jpg'
              .image
                img(src=`${rootPath}img/event/${image}`, alt= event.name)
              .name
                = event.name
