extends /_layout/_default-layout

prepend config-block
  - pageName = 'Events'

append config-block
  - pageId = 'event'
  - rootPath = '../'
  - url = `${settings?.url ?? '/'}event/`
  -
    breadcrumbArr = [
      {
        name: 'Events',
      },
    ];

block content-block
  main
    .front-block
      .archive-link
        a.elm-a(href="/archive/")
          | &gt;&gt; アーカイブ

      .wba-category-nav.hover-effect
        nav
          .category-list
            .category-item
              a.elm-a(href="#All")
                | All
            .category-item
              a.elm-a(href="#勉強会")
                | 勉強会                
            .category-item
              a.elm-a(href="#カジュアルトーク")
                | カジュアルトーク
            .category-item
              a.elm-a(href="#ハッカソン")
                | ハッカソン
            .category-item
              a.elm-a(href="#懇親会")
                | 懇親会
            .category-item
              a.elm-a(href="#未来ラウンジ")
                | 未来ラウンジ

      .event-list
        if events
          - eventArr = lodash.values(events).reduce((p, c) => p.concat(c), []);
          //- - eventArr.sort((a, b) => moment(b.date) - moment(a.date))
          - eventArr.sort((a, b) => parseInt(b.index) - parseInt(a.index))
          each event in eventArr
            .event-item(data-date= event.date, data-type= event.type)
              a(href=`${rootPath}event/${event.link}`)
                .event
                  - image = event.image || 'default.jpg'
                  .image
                    img(src=`${rootPath}img/event/thumb/${image}`, alt= event.name)
                  .name
                    = event.name
