extends /_layout/_default-layout

prepend config-block
  - pageName = 'Sitemap'

append config-block
  - pageId = 'sitemap'
  - rootPath = '../'
  - url = `${settings.url}sitemap/`
  -
    breadcrumbArr = [
      {
        name: pageName,
      },
    ];

mixin site-item(opts)
  - const { title, href } = opts;
  a.elm-a(href= href)
    = title

block content-block
  main
    .front-block
      .block-search
        script.
          (function() {
            var cx = '000766413612897970091:d8lpds-fiuw';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
        gcse:search

      ul.sitemap-list.hover-effect
        li.item
          +site-item({
            href: `${rootPath}`,
            title: 'WBA Future Leaders',
          })

        li.item
          +site-item({
            href: `${rootPath}about/`,
            title: 'About',
          })

        li.item
          +site-item({
            href: `${rootPath}member/`,
            title: 'Member',
          })
          ul.list
            each branch in members
              each member in branch
                if member.link
                  li.item
                    +site-item({
                      href: `${rootPath}member/${member.link}`,
                      title: member.name,
                    })

        li.item
          +site-item({
            href: `${rootPath}event/`,
            title: 'Event',
          })
          ul.list
            each event in events
              li.item
                +site-item({
                  href: `${rootPath}event/${event.link}`,
                  title: event.name,
                })

        li.item
          +site-item({
            href: `${rootPath}sponsor-event/`,
            title: 'SponsorEvent',
          })
          ul.list
            each event in sponsorEvents
              li.item
                +site-item({
                  href: `${rootPath}sponsor-event/${event.link}`,
                  title: event.subject,
                })

        li.item
          +site-item({
            href: `${rootPath}sponsor/`,
            title: 'Sponsor',
          })

        li.item
          +site-item({
            href: `${rootPath}about-sponsorship/`,
            title: 'スポンサーシップについて',
          })


        li.item
          +site-item({
            href: `${rootPath}contact/`,
            title: 'Contact',
          })

        li.item
          +site-item({
            href: `${rootPath}sitemap/`,
            title: 'Sitemap',
          })
