extends /_layout/_default-layout

append config-block
  - pageId = 'home'

block content-block
  main
    section.sec-introduction
      .front-block
        h2.welcome
          | 全脳アーキテクチャ若手の会へようこそ

        .lead
          p
            | 全脳アーキテクチャ若手の会は、脳や人工知能、そしてそれらが与える影響について興味がある、すべての方のためのコミュニティです。

          p.hover-effect
            | 詳しくは
            a.elm-a(href=`${rootPath}about/`) About
            | ページ、または
            a.elm-a(href="https://www.facebook.com/groups/713921892010595/", target="_blank") Facebook
            | 、
            a.elm-a(href="https://www.youtube.com/channel/UC_fG5HjRkF4urW0ne-qiVcg/videos?flow=grid&view=0&sort=dd&live_view=500", target="_blank") YouTubeチャンネル
            | 、
            a.elm-a(href="http://wbawakate.connpass.com/", target="_blank") connpass
            | をご覧ください。

    section.section-contents.sec-latest-events
      .front-block
        h3.heading
          | Upcoming Events
        h4.sub-heading
          | 最新イベント

        .wba-latest-events.hover-effect

    section.section-contents.sec-activity
      .front-block
        h3.heading
          | Latest Activity
        h4.sub-heading
          | 活動報告

        .event-list
          - eventArr = _.values(events).reduce((p, c) => p.concat(c), []);
          //- - eventArr.sort((a, b) => moment(b.date) - moment(a.date));
          - eventArr.sort((a, b) => parseInt(b.index) - parseInt(a.index))
          - for (i = 0; i < 4; i++) {
            - event = eventArr[i]
              .event-item
                a(href=`${rootPath}event/${event.link}`)
                  .event(data-type= event.type)
                    .image
                      img.elm-img(src=`${rootPath}img/event/${event.image || 'default.jpg'}`, alt= event.name)
                    .name
                      = event.name
          - }

        .wba-button.btn-more
          a.elm-a(href=`${rootPath}event/`)
            | More

    section.section-contents.sec-sponsor-event
      .front-block
        h3.heading
          | Sponsor Event
        h4.sub-heading
          | スポンサーイベント

        .sponsor-event-list
          - eventArr = _.values(sponsorEvents).reduce((p, c) => p.concat(c), []);
          //- - eventArr.sort((a, b) => moment(b.date) - moment(a.date));
          - eventArr.sort((a, b) => parseInt(b.index) - parseInt(a.index))
          - for (i = 0; i < 4; i++) {
            - event = eventArr[i]
              .sponsor-event-item
                a(href=`${rootPath}sponsor-event/${event.link}`)
                  .sponsor-event
                    .image
                      img.elm-img(src=`${rootPath}img/sponsor-event/${event.image}`, alt= event.name)
                    .name
                      = event.subject
          - }

        .wba-button.btn-more
          a.elm-a(href=`${rootPath}sponsor-event/`)
            | More


    section.sec-promotion-video
      .front-block
        h3.heading
          | Promotion Video

        .video
          iframe(width="960", height="540", src="https://www.youtube.com/embed/0wtEYXZB2NA?feature=oembed", frameborder="0", allowfullscreen="")

    section.section-contents.sec-news
      .front-block
        h3.heading
          | News
        h4.sub-heading
          | 新着情報

        ul.news-list.hover-effect
          each news in newsArr
            time.time= news.time
            .update!= news.update

    section.section-contents.sec-sponsor
      .front-block
        h3.heading
          | Sponsor
        h4.sub-heading
          | 協賛企業
    
        ul.sponsor-list
          each s in sponsor
            li.sponsor-item
              a.elm-a(href= s.url, target="blank")
                .image
                  img.elm-img(src= `${rootPath}img/sponsor/${s.image}`, alt= s.name)

        .wba-link.link-join
          a.elm-a(href="/contact/", target="_blank")
            | &gt;&gt; 協賛希望の企業様はこちら
