extends /_layout/_default-layout

append config-block
  - pageId = 'home'

block content-block
  main
    section.sec-introduction
      .flont-block
        h2.welcome
          | 全脳アーキテクチャ若手の会へようこそ

        .lead
          p
            | 全脳アーキテクチャ若手の会は、脳や人工知能、そしてそれらが与える影響について興味がある、すべての方のためのコミュニティです。

          p
            | 詳しくは
            a(href=`${rootPath}about/`) About
            | ページ、または
            a(href="https://www.facebook.com/groups/713921892010595/", target="_blank") Facebook
            | 、
            a(href="https://www.youtube.com/channel/UC_fG5HjRkF4urW0ne-qiVcg/videos?flow=grid&view=0&sort=dd&live_view=500", target="_blank") YouTubeチャンネル
            | 、
            a(href="http://wbawakate.connpass.com/", target="_blank") connpass
            | をご覧ください。

    //- section.latest-events
      .wba-latest-events

    section.section-contents.sec-activity
      .flont-block
        h3.heading
          | Latest Activity
        h4.sub-heading
          | 活動報告

        .event-list
          each event in events
            .event-item
              a(href= event.link)
                .event(data-type= event.type)
                  .image
                    img(src= event.image, alt= event.name)
                  .name
                    = event.name

        .wba-button.btn-more
          a.elm-a(href="http://wbawakate.jp/posts/events/")
            | More

    section.section-contents.sec-sponsor-event
      .flont-block
        h3.heading
          | Sponsor Event
        h4.sub-heading
          | スポンサーイベント
          ul
            li
              a(href="http://wbawakate.jp/posts/furonteo20160825/")
                | 株式会社FRONTEO主催 セミナーのお知らせ
            li
              a(href="http://wbawakate.jp/posts/adish_2016intern/")
                | アディッシュ株式会社　技術職インターン募集のお知らせ
            li
              a(href="http://wbawakate.jp/posts/ubic20160219/")
                | 株式会社UBIC主催　第2回学生向けセミナーのお知らせ
            li
              a(href="http://wbawakate.jp/posts/dwango20160506/")
                | 株式会社dwango　『CGIプロジェクト』インターン募集のお知らせ

        .wba-button.btn-more
          a.elm-a(href="http://wbawakate.jp/posts/category/sponsorevent/")
            | More


    section.sec-promotion-video
      .flont-block
        h3.heading
          | Promotion Video

        .video
          iframe(width="960", height="540", src="https://www.youtube.com/embed/0wtEYXZB2NA?feature=oembed", frameborder="0", allowfullscreen="")

    section.section-contents.sec-news
      .flont-block
        h3.heading
          | News
        h4.sub-heading
          | 新着情報

        ul.news_list
          each news in newsArr
            time.time= news.time
            .update!= news.update

    section.section-contents.sec-sponsor
      .flont-block
        h3.heading
          | Sponsor
        h4.sub-heading
          | 協賛企業
    
        ul.sponsor-list
          each s in sponsor
            li.sponsor-item
              a(href= s.url, target="blank")
                img.elm-img(src= `${rootPath}img/sponsor/${s.image}`, alt= s.name)

        .wba-link.link-join
          a.elm-a(href="http://wbawakate.jp/about_sponsorship/")
            | >> 協賛希望の企業様はこちら
