extends /_layout/_default-layout

prepend config-block
  - pageName = 'スポンサーシップについて'

append config-block
  - pageId = 'about-sponsorship'
  - rootPath = '../'
  - dataPath = `${rootPath}data/${pageId}/`
  - url = `${settings?.url ?? '/'}about-sponsorship/`
  -
    breadcrumbArr = [
      {
        name: pageName,
      },
    ];

block content-block
  main.main
    .front-block
      p
        | 全脳アーキテクチャ若手の会では、「脳を模倣した人工知能の研究」 を志す若手と、神経科学および機械学習の専門的知見を持つ研究者との人材交流を目的とする活動にご賛同いただける方からのスポンサーシップを随時募集しております。

      p
        | ご賛同いただける方、ご質問等ある方は、以下のコンタクトフォームよりお気軽にお問い合わせください。

      ul.list-document.hover-effect
        li.item
          a(href=`${dataPath}terms-2017.pdf`)
            | 2017年度スポンサーシップ規約 (pdf)
        li.item
          a(href=`${dataPath}form-sponsorship.pdf`)
            | スポンサーシップ申込書 (pdf)

      .google-form
        iframe(src="https://docs.google.com/forms/d/e/1FAIpQLScxdzby5MXvrCesgv--d0MJrjznQ7tQlFq8-Jx09mjo3aF-SQ/viewform?embedded=true", width="760", height="1100", frameborder="0", marginheight="0", marginwidth="0")
          | 読み込んでいます...
