extends /_layout/_default-layout

prepend config-block
  -
    let eventArr = _.values(events).reduce((p, c) => p.concat(c), []);
    let event = eventArr.filter(m => m.id === meta.id)[0]

    let pageName = meta.name || event.name

append config-block
  - pageId = 'event-detail'
  - rootPath = '../../'
  - dataPath = `${rootPath}data/event/${event.id}/`
  - imgPath = `${rootPath}img/event/${event.id}/`
  - title = `${pageName} | ${settings.site_name}`
  - ogp_image_url = meta.image ? `${settings.url}img/event/${meta.image}` : settings.ogp_image_url
  - url = `${settings.url}event/${meta.id}/`
  -
    breadcrumbArr = [
      {
        href: '/event/',
        name: 'Events',
      },
      {
        name: pageName,
      },
    ];

block content-block
  main.main
    .front-block
      .row(data-col= meta.widgetId ? '2' : '1')
        .body.hover-effect
          +template-option
          != _.template(unescape(body), templateOption)(params)

        if meta.widgetId
          .gallery
            // LightWidget WIDGET
            //- Grid / 1 / 60 / Fade In / 2 / no / no / yes
            script(src="//lightwidget.com/widgets/lightwidget.js")
            iframe.lightwidget-widget(src=`//lightwidget.com/widgets/${meta.widgetId}.html`, scrolling="no", allowtransparency="true", style="width: 100%; border: 0; overflow: hidden;")
