extends /_layout/_default-layout

append config-block
  - pageId = 'event-detail'
  - rootPath = '../../'
  - title = `${meta.title} | ${settings.site_name}`
  - ogp_image_url = meta.image ? `${settings.url}img/event/${meta.image}` : settings.ogp_image_url
  - url = `${settings.url}event/${meta.id}/`

block content-block
  main
    .front-block
      .body.hover-effect
        != body
