extends /_layout/_default-layout

prepend config-block
  -
    let branchArr = _.values(members).reduce((p, c) => p.concat(c), []);
    let memberArr = branchArr
      .map(branch => _.values(branch))
      .reduce((p, c) => p.concat(c), [])
    ;
    let member = memberArr.filter(m => m.id === meta.id)[0]

    let name = meta.name || member.name
    let nameSub = meta.nameSub || member.nameSub
    let image = meta.image || member.image

append config-block
  - pageId = 'member-detail'
  - rootPath = '../../'
  - dataPath = `${rootPath}data/member/${member.id}/`
  - imgPath = `${rootPath}img/member/${member.id}/`
  - title = `${name} | ${settings.site_name}`
  - ogp_image_url = image ? `${settings.url}img/member/${image}` : settings.ogp_image_url
  - url = `${settings.url}member/${meta.id}/`
  -
    breadcrumbArr = [
      {
        href: '/member/',
        name: 'Members',
      },
      {
        name: name,
      },
    ];

block content-block
  main.main
    .front-block
      if image
        .image
          img(src=`${rootPath}img/member/${image}`)
      .profile.hover-effect
        h1.name
          = name
        if nameSub
          .sub-name
            = nameSub

        .body
          +templateOption
          != _.template(unescape(body))(templateOption)

          - const publicationArr = _.filter(bibArr, function(bib) { return bib.entryTags.authorKey.replace(/\s/g, '').split(',').indexOf(meta.id) !== -1; });
          if publicationArr.length > 0
            h2
              | Publications

            +publication-list(publicationArr, 'journal', '和文学会誌')
            +publication-list(publicationArr, 'international', '国際会議')
            +publication-list(publicationArr, 'domestic', '国内会議')

        .sns-list.no-hover-effect
          if meta.facebook
            .sns-item.facebook
              a.elm-a(href=`${meta.facebook}`, target="_blank")
                i.fa.fa-facebook
          if meta.twitter
            .sns-item.twitter
              a.elm-a(href=`${meta.twitter}`, target="_blank")
                i.fa.fa-twitter
          if meta.website
            .sns-item.website
              a.elm-a(href=`${meta.website}`, target="_blank")
                i.fa.fa-plus
