extends /_layout/_default-layout

append config-block
  - pageId = 'member-detail'
  - rootPath = '../../'
  - title = `${meta.name} | ${settings.site_name}`
  - ogp_image_url = meta.image ? `${settings.url}img/member/${meta.image}` : settings.ogp_image_url
  - url = `${settings.url}member/${meta.id}/`

block content-block
  main.main
    .front-block
      .image
        img(src= `${meta.image ? `${rootPath}img/member/${meta.image}` : "//placehold.jp/300x300.png"}`)
      .profile.hover-effect
        h1.name
          = meta.name
        if meta.nameSub
          .sub-name
            = meta.nameSub

        .body
          != body

          - publicationArr = _.filter(bibArr, function(bib) { return bib.entryTags.authorKey.split(', ').indexOf(meta.id) !== -1; });
          if publicationArr.length > 0
            h2
              | Publications
            .publication-list
              each publication in publicationArr
                + publication(publication)

        .sns-list.no-hover-effect
          if meta.facebook
            .sns-item.facebook
              a.elm-a(href=`${meta.facebook}`, target="_blank")
                i.fa.fa-facebook
          if meta.twitter
            .sns-item.twitter
              a.elm-a(href=`${meta.twitter}`, target="_blank")
                i.fa.fa-twitter
